<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1> BMI Calculator </h1>
    </header>
    <main>
        <p>Please enter your height and weight in order to calculate your BMI.</p>
        <div class="main">
            <form method="post" action="/result"> 
                <label for="height" >Height (cm):</label> <br> 
                <input type="number" id="height" name="height" required min="1"> <br>
                <label for="weight">Weight (kg):</label> <br>
                <input type="number" id="weight" name="weight" required min="1"> <br>
                <input class="button" type="submit" value="Calculate BMI">
            </form>
        </div>

    </main>
    
</body>
</html>
